<h2>
    My Heroes
</h2>
<div class='newHero'>
    <label>Hero name:
      <input #heroName />
    </label>
    <button 
        (click)="addHero(heroName.value); heroName.value=''"
    >add</button>
  </div>
<ul class='heroes'>
    <li *ngFor="let hero of heroes" >
        <a
            routerLink="/detail/{{ hero.id }}"
            class="hero"
        >
            <div class="badge">{{ hero.id }}</div> 
            <div class="name">{{ hero.name }}</div>
        </a>
        <button 
            class="delete right"
            (click)="deleteHero(hero)"
        >x</button>
    </li>
</ul>