@import '../../styles/variables.less';
@import '../../styles/mixins.less';

// Style Groupings
// 1 - Positioning
// 2 - Structural 
// 3 - Additional Styling

h2 {
    margin: 2rem 0 1rem 0;

    font-size: @font_md;
}

.newHero { 
    font-size: @font_reg;

    button {
        .standardButton()
    }
}

.heroes {
    display: flex;
    flex-direction: column;

    width: 15rem;
    padding: 0;
    
    list-style-type: none;

    li {
        display: flex;
        align-items: center;
        
        height: 100%;
        margin: .35rem;
        padding-right: .8rem;
        border-radius: 4px;
        
        background-color: @light_grey;
        cursor: pointer;
        
        .hero {
            display: flex;
            align-items: center;
            width: 100%;

            color: @grey_font;
            text-decoration: none;

            .badge, .name {
                display: flex;
                
                font-size: @font_reg;
            }
            
            .badge {
                align-items: center;
                justify-content: center;
                
                min-width: 3rem;
                margin-right: .8rem;
                padding: .5rem 0 .5rem 0;
                border-radius: 4px 0 0 4px;
                
                color: white;
                background-color: @darkSteele_grey;
            }

            .name {
                flex-grow: 1;
            }
        }

        &:hover {
            margin-left: .75rem;
            
            color: @hover_font;
            background-color: @hover_grey;
        }
    }

    .delete {
        padding: .3rem .6rem .3rem .6rem;
        border: none;
        border-radius: @borderRadius;

        color: white;
        background-color: @darkSteele_grey;
    }
}