// Font Sizing
@font_sm: .75rem;
@font_reg: 1.1rem;
@font_md: 1.75rem;
@font_lg: 2.75rem;

// Structure
@borderRadius: 4px;

// Colors
@red: red;

@darkSteele_grey: #3F525C;
@light_grey: #EEE;
@dark_grey: #808080;
@hover_grey: #DDD;
@search_hover: #607D8B;
@selected_grey: #CFD8DC;

@title_blue_font: #346699;
@highlight_blue_font: #039be5;
@grey_font: #444;
@hover_font: #607D8B;
@search_font: #888;