@import '../../../styles/variables.less';

h2 {
    margin: 2rem 0 1rem 0;

    font-size: @font_md;
}

.hero {
    display: flex;
    flex-direction: column;

    font-size: @font_sm;

    .content {
        display: flex;

        .label {
            margin-right: .5rem;
        }
    }
}

button {
    margin-top: 20px;
    border: none;
    padding: 5px 10px;

    font-family: Arial;
    background-color: @lightGrey_bg;
    border-radius: 4px;
    cursor: pointer;
    
    &:hover {
      background-color: @selected_grey_bg;
    }
å
    &:disabled {
      background-color: @lightGrey_bg;
      color: #ccc;
      cursor: auto;
    }
  }