@import '../../../styles/variables.less';
@import '../../../styles/mixins.less';

h2 {
    margin: 2rem 0 1rem 0;

    font-size: @font_md;
}

.hero {
    display: flex;
    flex-direction: column;

    font-size: @font_reg;

    .content {
        display: flex;

        .id {
            margin-right: .75rem;
        }
    }

    .editName {
        label {
            display: inline-block;

            width: 3rem;
            margin: .5rem 0;

            color: @hover_font;
            font-weight: bold;
        }
        input {
            height: 2rem;
            
            font-size: @font_reg;
            padding-left: .75rem;
        }
    }
}

button {
    .standardButton()
}